## Coursera Capstone project for week 3 part 2

In [19]:
# Importing necessory libraries
import pandas as pd
import numpy as np

In [20]:
website_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
data = pd.read_html(website_url)

# The data frame of the postal codes is taken from first item of data
df = data[0]
# Renaming Column of neighborhood
df.rename(columns = {'Neighbourhood': 'Neighborhood'}, inplace = True)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [21]:
# Dataframe with Borough assigned entries
df = df[df.Borough != 'Not assigned']
# Reset the index
df.reset_index(inplace = True, drop = True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [22]:
print("Shape of DatFrame: " + str(df.shape))

Shape of DatFrame: (103, 3)

##Working on geographical data

In [23]:
#Getting data from following link
urls = 'http://cocl.us/Geospatial_data'
geo_dataframe = pd.read_csv(urls)
geo_dataframe.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [24]:
#Save geospatial data in variable combined_dataframe
combined_dataframe = pd.merge(df, geo_dataframe, left_on = 'Postal Code', right_on = 'Postal Code')
#Now reset the indexes
combined_dataframe.reset_index(drop = True, inplace = True)
#Again print the shape of dataframe
print(combined_dataframe.shape)
#Check resulted data by calling function head()
combined_dataframe.head()

(103, 5)

  Postal Code           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]